<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%-include('layouts/head') %>
  <body style="background-color: black">
    <!-- Navigation-->
    <%-include('layouts/nav') %>
    <!-- Page Header-->

    <!-- Footer-->
    <%-include('layouts/footer') %> <%-include('layouts/scripts') %>
  </body>
</html>
