<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%-include('layouts/head') %>
  <head>
    <link href="/css/loading.css" rel="stylesheet" />
  </head>
  <body>
    <div class="loader">Loading...</div>
  </body>
</html>
